<header class="filter-header">

<p class="jobdone">Job Done</p>

        <svg id="filter-knop" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="971.986px" height="971.986px"
            viewBox="0 0 971.986 971.986" style="enable-background:new 0 0 971.986 971.986;" xml:space="preserve">
            <g>
                <path
                    d="M370.216,459.3c10.2,11.1,15.8,25.6,15.8,40.6v442c0,26.601,32.1,40.101,51.1,21.4l123.3-141.3
    c16.5-19.8,25.6-29.601,25.6-49.2V500c0-15,5.7-29.5,15.8-40.601L955.615,75.5c26.5-28.8,6.101-75.5-33.1-75.5h-873 c-39.2,0-59.7,46.6-33.1,75.5L370.216,459.3z" />
            </g>
        </svg>
    </header>

    <form class="filter-overlay" action="/resultaten" method="POST">
        <section class="maximale-breedte-mobiel">

        {{!-- Een aantal filteroopties uitgeschakeld, om eerst te beginnen met het te laten werken, daarna meer filtert toevoegen --}}

        {{!-- <label for="zoekbalk">Zoeken:</label>
        <input class="zoeken" type="text" placeholder="Functie, trefwoord of bedrijf" name="search">

        <label for="afstand">Afstand:</label>
        <input type="range" min="1" max="100" value="25" class="slider" id="myRange"> --}}

        <label for="dienstverband-filter">Dienstverband</label>
        <select name="dienstverband-filter" id="dienstverband-filter">
            <option value="alle">Alle</option>
            <option value="fulltime">Fulltime</option>
            <option value="parttime">Parttime</option>
            <option value="stage">Stage</option>
            <option value="freelance">Freelance/ZPP</option>
            <option value="vrijwillig">Vrijwillig</option>
        </select>

        <label for="opleidingsniveau-filter">Opleidingsniveau</label>
        <select name="opleidingsniveau-filter" id="opleidingsniveau-filter">
            <option value="alle">Alle</option>
            <option value="universiteit">Universiteit</option>
            <option value="hbo">Hbo</option>
            <option value="mbo">Mbo</option>
            <option value="vwo">Vwo</option>
            <option value="havo">Havo</option>
            <option value="vmbo">Vmbo</option>
        </select>

        {{!-- <fieldset class="radio-buttons">

            <legend>Werkomgeving</legend>

            <label for="Thuis">Thuis</label>
            <input type="radio" name="Werkomgeving" value="Thuis">

            <label for="Kantoor">Kantoor</label>
            <input type="radio" name="Werkomgeving" value="Kantoor">
        </fieldset> --}}

        <input type="submit">
        </section>
    </form>