{{> toevoegen-header }}


<br>
<br>
<br>
<br>
<br>

        {{#if errors}}
        {{#each errors}}
        <strong>{{this.message}}</strong>
        {{/each}}
        {{/if}}

    <form action="/registreren" method="POST">

        <div>
            <label for="email">E-mail</label>
            <input type="email" name="email" placeholder="example@mail.com" id="email" required>
        </div>
        <div>
            <label for="password">Wachtwoord</label>
            <input type="password" name="password" placeholder="Minimaal 6 karakters" id="password" required>
        </div>
        <button type="submit">Registreren</button>
    </form>


    <p>Heb je al een account? <a href="/login">Login</a></p>