 <form class="gebruikers-toevoegen" action="/toevoegen" method="post">

     <fieldset class="naam">
         <legend>Dit ben ik</legend>

         <label for="soortGebruiker">Soort gebruiker</label>
         <select name="soortGebruiker" id="soortGebruiker" required>
             <option value="">Maak keuze</option>
             <option value="Werkzoekende">Werkzoekende</option>
             <option value="Werkgever">Werkgever</option>
         </select>

         <section>
             <div>
                 <label for="id">Gebruikersnaam</label><br>
                 <input id="id" type="text" name="id" placeholder="Bijv. Jarno1809" required>
             </div>
             <div>
                 <label for="naam">Volledige naam</label><br>
                 <input id="naam" type="text" name="naam" required>
             </div>
         </section>

     </fieldset>

     {{!-- <div>
           <label for="soortGebruiker">Soort Gebruiker:</label><br>
           <input id="soortGebruiker" type="text" name="soortGebruiker" required>
       </div> --}}

     <fieldset class="school">
         <legend>Mijn school informatie</legend>
         <div>
             <label for="opleidingRichting">Opleiding / richting</label><br>
             <input id="opleidingRichting" type="text" name="opleidingRichting" placeholder="Bijv. Communication and Multi Media Design" required>
         </div>
         <section class="school-flexbox">
             <div>
                 <label for="schoolNaam">School</label><br>
                 <input id="schoolNaam" type="text" name="schoolNaam" placeholder="Bijv. Hogeschool Leiden" required>
             </div>
             <div>
                 <label for="opleidingsniveau">Opleidingsniveau</label>
                 <select name="opleidingsniveau" id="opleidingsniveau" required>
                     <option value="">Maak keuze</option>
                     <option value="Universiteit">Universiteit</option>
                     <option value="Hbo">Hbo</option>
                     <option value="Mbo">Mbo</option>
                     <option value="Vwo">Vwo</option>
                     <option value="Havo">Havo</option>
                     <option value="Vmbo">Vmbo</option>
                 </select>
             </div>
             <div>
                 <label for="leerjaar">Leerjaar</label><br>
                 <input id="leerjaar" type="number" name="leerjaar" min="1" max="6" required>
             </div>
         </section>
     </fieldset>


     {{!-- <div>
             <input type="checkbox" name="kwaliteiten" value="html" id="html">
             <label for="kwaliteiten">html</label><br>
         </div>
         
         <div>
             <input type="checkbox" name="kwaliteiten" value="css" id="css">
             <label for="kwaliteiten">CSS</label><br>
         </div> --}}
     <fieldset>
         <legend>Ik kan werken met <span>Je kunt meerdere selecteren</span></legend>
         <select name="kwaliteiten" required id="kwaliteiten" multiple>
             <option value="HTML"> HTML</option>
             <option value="CSS"> CSS</option>
             <option value="Javascript"> Javascript</option>
             <option value="Illustrator"> Illustrator</option>
             <option value="Photoshop"> Photoshop</option>
             <option value="XD"> XD</option>
             <option value="Wordpress"> Wordpress</option>
             <option value="Joomla"> Joomla</option>
         </select>
     </fieldset>

     <fieldset class="opzoek-naar">
         <legend>Ik ben opzoek naar</legend>
         <div>
             <label for="functie">Functie:</label><br>
             <input id="functie" type="text" name="functie" placeholder="Bijv. Webdedigner" required>
         </div>

         <div>
             <label for="dienstverband">Dienstverband</label>
             <select name="dienstverband" id="dienstverband" required>
                 <option value="">Maak keuze</option>
                 <option value="Fulltime">Fulltime</option>
                 <option value="Parttime">Parttime</option>
                 <option value="Stage">Stage</option>
                 <option value="Freelance/zzp">Freelance/ZZP</option>
                 <option value="Vrijwillig">Vrijwillig</option>
             </select>
         </div>
     </fieldset>

     <button>Toevoegen</button>

 </form>