{{> toevoegen-header }}

<form class="vacatures-toevoegen" action="/vacaturesToevoegen" method="post">


    {{!-- Invulvelden/optievelden - Soort gebruiker, gebruiksnaam, naam en biografie --}}
    <fieldset class="het-bedrijf">
        <legend>Het bedrijf</legend>
        <div>
            <label for="bedrijfsnaam">Bedrijfsnaam*</label><br>
            <input id="bedrijfsnaam" type="text" name="bedrijfsnaam" required>
        </div>

        <section class="bedrijf-gegevens-flex">
            <div>
                <label for="straatnaam">Straatnaam*</label><br>
                <input id="straatnaam" type="text" name="straatnaam" required>
            </div>
            <div>
                <label for="huisnummer">Nr. + toevg.*</label><br>
                <input id="huisnummer" type="text" name="huisnummer" required>
            </div>
            <div>
                <label for="plaatsnaam">Plaatsnaam*</label><br>
                <input id="plaatsnaam" type="text" name="plaatsnaam" required>
            </div>
            <div>
                <label for="postcode">Postcode*</label><br>
                <input id="postcode" type="text" name="postcode" required>
            </div>
        </section>
        <div>
            <label for="bedrijfWebsite">Website*</label><br>
            <input id="bedrijfWebsite" type="text" name="bedrijfWebsite" required>
        </div>
    </fieldset>

    {{!-- Invulvelden/optievelden - Schoolinformatie --}}
    <fieldset class="vacature">
        <legend>De vacature</legend>

        <div>
            <label for="vacatureNaam">Vacature Naam*</label><br>
            <input id="vacatureNaam" type="text" name="vacatureNaam" placeholder="FED AMS" required>
        </div>

        <section class="vacature-details">
            <div>
                <label for="dienstverband">Dienstverband*</label>
                <select name="dienstverband" id="dienstverband" required>
                    <option value="">Maak keuze</option>
                    <option value="Fulltime">Fulltime</option>
                    <option value="Parttime">Parttime</option>
                    <option value="Stage">Stage</option>
                    <option value="Freelance">Freelance</option>
                    <option value="Vrijwillig">Vrijwillig</option>
                </select>
            </div>

            <div>
                <label for="Branch">Branch*</label>
                <select name="branch" id="branch" required>
                    <option value="Alle">Alle</option>
                    <option value="Design">Design</option>
                    <option value="ICT">ICT</option>
                    <option value="Horeca">Horeca</option>
                    <option value="Kunst">Kunst</option>
                    <option value="Landbouw">Landbouw</option>
                    <option value="Logistiek">Logistiek</option>
                    <option value="Marketing">Marketing</option>
                    <option value="Onderwijs">Onderwijs</option>
                    <option value="Retail">Retail</option>
                    <option value="Sport">Sport</option>
                    <option value="Zorg">Zorg</option>
                </select>
            </div>
        </section>

        <div class="vacature-omschrijving">
            <label for="vacatureOmschrijving">Vacature Omschrijving*</label>
            <textarea name="vacatureOmschrijving" rows="8" required></textarea>
        </div>
    </fieldset>

    {{!-- Invulvelden/optievelden --}}
    <fieldset class="vraag">
        <legend>Waaraan moet de werkzoekende aan voldoen?*</span></legend>
        <div>
            <label for="opleidingsniveau">Opleidingsniveau</label>
            <select name="opleidingsniveau" id="opleidingsniveau" required>
                <option value="">Maak keuze</option>
                <option value="Universiteit">Universiteit</option>
                <option value="Hbo">Hbo</option>
                <option value="Mbo">Mbo</option>
                <option value="Vwo">Vwo</option>
                <option value="Havo">Havo</option>
                <option value="Vmbo">Vmbo</option>
            </select>
        </div>

        <section class="vraag-flexbox">
            <div>
                <label for="competenties">Competenties*</label>
                <select name="competenties" required id="competenties" multiple>
                    <option value="Ambitieus">Ambitieus</option>
                    <option value="Analytisch">Analytisch</option>
                    <option value="Besluitvaardig">Besluitvaardig</option>
                    <option value="Creatief">Creatief</option>
                    <option value="Flexibel">Flexibel</option>
                    <option value="Klantgericht">Klantgericht</option>
                    <option value="Leidinggevend">Leidinggevend</option>
                    <option value="Ondernemend">Ondernemend</option>
                    <option value="Samenwerkend">Ondernemend</option>
                    <option value="Sociaal">Sociaal</option>
                    <option value="Zelfstandig">Zelfstandig</option>
                </select>
            </div>
            <div>
                <label for="skills">Skills*</label>
                <select name="skills" required id="skills" multiple>
                    <option value="HTML"> HTML</option>
                    <option value="CSS"> CSS</option>
                    <option value="Javascript"> Javascript</option>
                    <option value="Nodejs"> Nodejs</option>
                    <option value="PHP"> PHP</option>
                    <option value="C#"> C#</option>
                    <option value="Illustrator"> Illustrator</option>
                    <option value="Photoshop"> Photoshop</option>
                    <option value="XD"> XD</option>
                    <option value="Premier Pro"> Premier Pro</option>
                    <option value="Adobe Animate"> Adobe Animate</option>
                    <option value="Wordpress"> Wordpress</option>
                    <option value="Joomla"> Joomla</option>
                    <option value="Excel"> Excel</option>
                    <option value="AutoCAD"> AutoCAD</option>
                    <option value="Tekenen"> Tekenen</option>
                    <option value="Schilderen"> Schilderen</option>
                </select>
            </div>
        </section>
    </fieldset>

    {{!-- Invulvelden/optievelden - skills --}}
    <fieldset>
        <legend>Wat biedt je de werkzoekende aan?</span></legend>
        <div class="aanbod">
            <label for="aanbod">Aanbod*</label>
            <textarea name="aanbod" rows="4" required></textarea>
        </div>
    </fieldset>

    <fieldset>
        <legend>Contactpersoon</span></legend>
        <section class="contactpersoon">
            <div>
                <label for="contactpersoonVoornaam">Voornaam*</label>
                <input id="contactpersoonVoornaam" type="text" name="contactpersoonVoornaam" required>
            </div>
            <div>
                <label for="contactpersoonAchternaam">Achternaam*</label>
                <input id="contactpersoonAchternaam" type="text" name="contactpersoonAchternaam" required>
            </div>
            <div>
                <label for="contactpersoonEmail">Email*</label>
                <input id="contactpersoonEmail" type="email" name="contactpersoonEmail" required>
            </div>
            <div>
                <label for="contactpersoonNummer">Telefoonnummer*</label>
                <input id="contactpersoonNummer" type="tel" name="contactpersoonNummer" required>
            </div>
            <div>
                <label for="contactpersoonLinkedIn">LinkedIn</label>
                <input id="contactpersoonLinkedIn" type="text" name="contactpersoonLinkedIn">
            </div>
        </section>
    </fieldset>

    <button>Toevoegen</button>

</form>