{{> toevoegen-header }}

<form class="gebruikers-toevoegen" action="/vacaturesToevoegen" method="post">


    {{!-- Invulvelden/optievelden - Soort gebruiker, gebruiksnaam, naam en biografie --}}
    <fieldset class="naam">
        <legend>Het bedrijf</legend>

        <label for="soortGebruiker">Soort gebruiker</label>
        <select name="soortGebruiker" id="soortGebruiker" required>
            <option value="">Maak keuze</option>
            <option value="Werkzoekende">Werkzoekende</option>
            <option value="Werkgever">Werkgever</option>
        </select>

        <section>
            <div>
                <label for="id">Vacature Naam</label><br>
                <input id="id" type="text" name="id" placeholder="FED AMS" required>
            </div>
            <div>
                <label for="bedrijfsnaam">Bedrijfsnaam</label><br>
                <input id="bedrijfsnaam" type="text" name="bedrijfsnaam" required>
            </div>
            <div>
                <label for="locatie">Locatie</label><br>
                <input id="locatie" type="text" name="locatie" required>
            </div>
            <div>
                <label for="dienstverband">Dienstverband</label><br>
                <input id="dienstverband" type="text" name="dienstverband" required>
            </div>
        </section>
    </fieldset>

    {{!-- Invulvelden/optievelden - Schoolinformatie --}}
    <fieldset class="school">
        <legend>De vacature</legend>
        <div class="biografie">
            <label for="vacatureOmschrijving">Vacature Omschrijving</label>
            <textarea name="vacatureOmschrijving" rows="8" required></textarea>
        </div>
        <section class="school-flexbox">
            <div>
                <label for="competenties">Competenties</label>
                <select name="competenties" required id="competenties" multiple>
                    <option value="">Maak keuze</option>
                    <option value="Universiteit">Universiteit</option>
                    <option value="Hbo">Hbo</option>
                    <option value="Mbo">Mbo</option>
                    <option value="Vwo">Vwo</option>
                    <option value="Havo">Havo</option>
                    <option value="Vmbo">Vmbo</option>
                </select>
            </div>
            <div>
                <label for="skills">Skills</label>
                <select name="skills" required id="skills" multiple>
                    <option value="">Maak keuze</option>
                    <option value="Universiteit">Universiteit</option>
                    <option value="Hbo">Hbo</option>
                    <option value="Mbo">Mbo</option>
                    <option value="Vwo">Vwo</option>
                    <option value="Havo">Havo</option>
                    <option value="Vmbo">Vmbo</option>
                </select>
            </div>
        </section>
    </fieldset>

    {{!-- Invulvelden/optievelden - Kwaliteiten --}}
    <fieldset>
        <legend>Aanbod</span></legend>
        <div>
            <label for="aanbod">Aanbod:</label><br>
            <input id="aanbod" type="text" name="aanbod" placeholder="Piza vrijdag" required>
        </div>
        <div>
            <label for="salaris">Salaris:</label><br>
            <input id="salaris" type="text" name="salaris" placeholder="500" required>
        </div>
    </fieldset>
    
    <button>Toevoegen</button>

</form>