{{> toevoegen-header }}

<form class="gebruikers-toevoegen" action="/werkzoekendeToevoegen" method="post">


    {{!-- Invulvelden/optievelden - Soort gebruiker, gebruiksnaam, naam en biografie --}}
    <fieldset class="naam">
        <legend>Dit ben ik</legend>

        <section>
            <div>
                <label for="voornaam">Voornaam*</label><br>
                <input id="voornaam" type="text" name="voornaam" required>
            </div>
            <div>
                <label for="achternaam">Achternaam*</label><br>
                <input id="achternaam" type="text" name="achternaam" required>
            </div>
            <div>
                <label for="leeftijd">Leeftijd*</label><br>
                <input id="leeftijd" type="number" name="leeftijd" min="12" max="99" required>
            </div>
            <div>
                <label for="werkzoekendeEmail">E-mail*</label><br>
                <input id="werkzoekendeEmail" type="email" name="werkzoekendeEmail" required>
            </div>
            <div>
                <label for="werkzoekendePortfolio">Portfolio (website)</label><br>
                <input id="werkzoekendePortfolio" type="text" name="werkzoekendePortfolio">
            </div>
            <div>
                <label for="werkzoekendeCv">CV*</label><br>
                <input id="werkzoekendeCv" type="file" name="werkzoekendeCv" required>
            </div>
            <div>
                <label for="werkzoekendeWoonplaats">Woonplaats*</label><br>
                <input id="werkzoekendeWoonplaats" type="text" name="werkzoekendeWoonplaats" required>
            </div>
        </section>
        <div class="biografie">
            <label for="biografie">Vertel een beetje overzelf*</label>
            <textarea name="biografie" rows="8" required></textarea>
        </div>
    </fieldset>

    {{!-- Invulvelden/optievelden - Schoolinformatie --}}
    <fieldset class="school">
        <legend>Mijn school informatie</legend>
        <div>
            <label for="opleidingRichting">Opleiding / richting*</label><br>
            <input id="opleidingRichting" type="text" name="opleidingRichting"
                placeholder="Bijv. Communication and Multi Media Design" required>
        </div>
        <section class="school-flexbox">
            <div>
                <label for="schoolNaam">School*</label><br>
                <input id="schoolNaam" type="text" name="schoolNaam" placeholder="Bijv. Hogeschool Leiden" required>
            </div>
            <div>
                <label for="opleidingsniveau">Opleidingsniveau*</label>
                <select name="opleidingsniveau" id="opleidingsniveau" required>
                    <option value="">Maak keuze</option>
                    <option value="Universiteit">Universiteit</option>
                    <option value="Hbo">Hbo</option>
                    <option value="Mbo">Mbo</option>
                    <option value="Vwo">Vwo</option>
                    <option value="Havo">Havo</option>
                    <option value="Vmbo">Vmbo</option>
                </select>
            </div>
            <div>
                <label for="leerjaar">Leerjaar*</label><br>
                <input id="leerjaar" type="number" name="leerjaar" min="1" max="6" required>
            </div>
        </section>
    </fieldset>

    {{!-- Invulvelden/optievelden - skills --}}
    <fieldset>
        <legend>Ik kan werken met <span>Je kunt meerdere selecteren*</span></legend>
        <select name="skills" required id="skills" multiple>
            <option value="HTML"> HTML</option>
            <option value="CSS"> CSS</option>
            <option value="Javascript"> Javascript</option>
            <option value="Nodejs"> Nodejs</option>
            <option value="PHP"> PHP</option>
            <option value="C#"> C#</option>
            <option value="Illustrator"> Illustrator</option>
            <option value="Photoshop"> Photoshop</option>
            <option value="XD"> XD</option>
            <option value="Premier Pro"> Premier Pro</option>
            <option value="Adobe Animate"> Adobe Animate</option>
            <option value="Wordpress"> Wordpress</option>
            <option value="Joomla"> Joomla</option>
            <option value="Excel"> Excel</option>
            <option value="AutoCAD"> AutoCAD</option>
            <option value="Tekenen"> Tekenen</option>
            <option value="Schilderen"> Schilderen</option>
        </select>
        </select>
    </fieldset>

    {{!-- Invulvelden/optievelden - Gebruiker is opzoek naar --}}
    <fieldset class="opzoek-naar">
        <legend>Ik ben opzoek naar</legend>

        <div>
            <label for="functie">Functie:*</label><br>
            <input id="functie" type="text" name="functie" placeholder="Bijv. Webdedigner" required>
        </div>

        <section class="opzoek-naar-flex">

            <div>
                <label for="branch">Branch*</label>
                <select name="branch" id="branch" required>
                    <option value="">Maak keuze</option>
                    <option value="Design">Design</option>
                    <option value="ICT">ICT</option>
                    <option value="Horeca">Horeca</option>
                    <option value="Kunst">Kunst</option>
                    <option value="Landbouw">Landbouw</option>
                    <option value="Logistiek">Logistiek</option>
                    <option value="Marketing">Marketing</option>
                    <option value="Onderwijs">Onderwijs</option>
                    <option value="Retail">Retail</option>
                    <option value="Sport">Sport</option>
                    <option value="Zorg">Zorg</option>
                </select>
            </div>

            <div>
                <label for="dienstverband">Dienstverband*</label>
                <select name="dienstverband" id="dienstverband" required>
                    <option value="">Maak keuze</option>
                    <option value="Fulltime">Fulltime</option>
                    <option value="Parttime">Parttime</option>
                    <option value="Stage">Stage</option>
                    <option value="Freelance">Freelance</option>
                    <option value="Vrijwillig">Vrijwillig</option>
                </select>
            </div>

        </section>

    </fieldset>

    <button>Toevoegen</button>

</form>