// Gele huiskleur
$geel: rgb(255, 193, 22);

// Blauwe huisskleur
$blauw: #0075FF;

//Font
$font: AppFont;

//Dikgedrukt
$dikgedrukt: 600;

//Tekstkleur
$tekstkleur: white;

//Svgkleur
$svgkleur: white;