.home-knoppen {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 600; }
  .home-knoppen a {
    margin: 3em auto;
    color: #ffc116;
    padding: 2em 0;
    width: 60%;
    text-decoration: none;
    border-radius: 0.5em;
    border: 4px solid #ffc116;
    -webkit-box-shadow: rgba(149, 157, 165, 0.096) 0px 8px 24px;
    box-shadow: rgba(149, 157, 165, 0.719) 0px 8px 24px; }
    .home-knoppen a:hover {
      color: white;
      border: none;
      width: 70%;
      padding: 2.5em 0;
      background-color: #ffc116;
      transition: 0.5s; }

.filter-header {
  background-color: #0075FF;
  padding: 1em 2em;
  text-align: right;
  z-index: 1; }
  .filter-header svg {
    width: 2em;
    height: 2em;
    fill: white;
    cursor: pointer; }

input[type=submit] {
  margin-top: 4em;
  width: 100%;
  padding: 1.25em;
  background-color: #ffc116;
  color: white;
  border: none;
  font-size: 15px;
  font-family: AppFont;
  font-weight: 600;
  cursor: pointer;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 0.5em;
  transition: 0.5s; }
  input[type=submit]:hover {
    padding: 1.5em; }

select {
  padding: 0.5em;
  font-family: AppFont;
  width: 100%;
  cursor: pointer; }
  select option {
    padding: 0.5em; }

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 1em; }

.resultaten h1 {
  margin: 0;
  margin-top: 1em;
  text-align: center; }

::-webkit-scrollbar {
  display: none; }

.card-content {
  background-color: #f0f0f0;
  margin: auto;
  margin: 1em;
  padding: 0 2em;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.75em;
  min-width: 75%;
  height: 600px;
  position: relative; }
  .card-content header {
    margin-top: 1.5em; }
    .card-content header h2 {
      /* text-align: center; */
      font-size: 24px;
      padding: 0;
      margin: 0; }
  .card-content p {
    font-size: 14px;
    margin: 0; }
  .card-content header p {
    margin: 0.5em 0 1em 0;
    font-size: 16px; }
  .card-content h2 {
    font-size: 18px;
    margin: 0;
    margin: 1em 0 0.5em 0; }
  .card-content h3 {
    font-size: 14px;
    display: block;
    margin: 1.25em 0 0.25em 0; }
  .card-content span {
    font-weight: 600; }
  .card-content .school-info {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
    margin-bottom: 0.3em; }
    .card-content .school-info p {
      margin: 0;
      padding: 0;
      font-size: 16px; }

@font-face {
  font-family: AppFont;
  src: url("/fonts/sf-pro-text_regular.woff"); }

.maximale-breedte-mobiel {
  width: 80%;
  margin: 2em auto; }

body {
  font-family: AppFont;
  padding: 0;
  margin: 0;
  max-width: 500px;
  margin: 0 auto;
  overflow: hidden; }

header,
footer {
  max-width: 500px;
  margin: 0 auto; }

header a {
  text-decoration: none; }

.main-header {
  background-color: #0075FF;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4.5em;
  z-index: -1;
  text-align: center; }

.main-header .jobdone {
  float: none;
  margin-top: 0.75em; }

footer {
  background-color: #0075FF;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3em;
  padding-top: 1.5em;
  text-align: center;
  z-index: 10; }
  footer a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 0;
    font-weight: 600;
    margin: auto 0; }
  footer svg {
    vertical-align: middle;
    width: 1.25em;
    height: 1.25em;
    fill: white;
    padding-right: 0.5em; }

.werkzoekende-footer {
  z-index: 15; }

.jobdone {
  float: left;
  color: white;
  font-size: 25px;
  font-weight: 600;
  vertical-align: middle;
  margin: 0;
  padding: 0; }

label {
  display: block;
  padding: 2em 0 0.5em 0;
  font-weight: 600; }

.filter-overlay {
  max-width: 500px;
  margin: 0 auto;
  background-color: #f0f0f0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  /* padding: 1em 3em; */
  margin-top: 4em;
  height: 100%; }
  .filter-overlay h2 {
    text-align: center; }
  .filter-overlay p {
    padding-bottom: 0.25em;
    padding-top: 0.5em; }

.filterOverlayOpenen .filter-overlay {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  z-index: 10; }

.link {
  position: absolute;
  background-color: #ffc116;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0 0 0.75em 0.75em;
  text-align: center;
  transition: 1.25s;
  vertical-align: middle;
  height: 7%;
  color: white; }
  .link h4 {
    margin: 0;
    padding: 0;
    padding-top: 0.65em; }
  .link:hover {
    padding: 0.5em 0;
    background-color: #0075FF;
    transition: 1.25s;
    height: 30%; }

.meer-info {
  display: none;
  transition: 1s;
  padding: 0.5em 2em; }
  .meer-info div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em; }

.link h5 {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 100; }

.link p {
  font-size: 12px;
  margin: 0;
  margin-top: 0.18em;
  padding: 0; }

.meer-info div a {
  color: #ffc116;
  font-size: 12px;
  text-decoration: none;
  margin: 0;
  margin-top: 0.18em;
  padding: 0; }

.link:hover .meer-info {
  display: block; }

hr {
  margin-bottom: 1em;
  border: 0.5px solid black; }

/* Werkzoekende toevoegen */
.werkzoekende-toevoegen {
  overflow: auto; }

input {
  padding: 0.5em; }

.gebruikers-toevoegen {
  margin-top: 6em;
  padding: 0 1.5em;
  padding-bottom: 6em; }
  .gebruikers-toevoegen label {
    display: inline-block;
    padding: 1.5em 0 0.25em 0;
    font-size: 14px; }
  .gebruikers-toevoegen fieldset {
    margin-top: 1.5em;
    padding-bottom: 1.5em;
    border: 1.5px solid #0075FF; }
    .gebruikers-toevoegen fieldset span {
      margin: 0 0.5em;
      font-size: 12px;
      font-style: italic; }

.naam > label {
  padding: 0.5em 0; }

.naam section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .naam section div:nth-child(1),
  .naam section div:nth-child(2) {
    width: 35%; }
  .naam section div:nth-child(3) {
    width: 10%;
    margin-right: 1em; }
  .naam section div:nth-child(4) {
    width: 43%; }
  .naam section div:nth-child(5) {
    width: 43%;
    margin-right: 1em; }
  .naam section div:nth-child(6) {
    width: 60%;
    margin-right: 1em; }
  .naam section div:nth-child(7) {
    width: 30%;
    margin-right: 1em; }
  .naam section input {
    width: 100%; }
  .naam section input[type=file] {
    margin: auto 0;
    padding: 0;
    padding-top: 0.5em; }

.biografie textarea {
  width: 99%;
  resize: none;
  font-family: AppFont; }

.biografie label {
  display: block; }

.school > div {
  padding-right: 1em; }
  .school > div input {
    width: 100%;
    margin-bottom: 1em; }

.school-flexbox {
  display: flex; }
  .school-flexbox div:nth-child(2) {
    margin: 0 1em; }

.school label {
  padding: 0.5em 0; }

.opzoek-naar > div {
  padding-right: 1em; }
  .opzoek-naar > div input {
    width: 100%;
    margin-bottom: 1em; }

.opzoek-naar-flex {
  display: flex;
  justify-content: space-between; }

.opzoek-naar label {
  padding: 0.5em 0; }

.gebruikers-toevoegen button {
  width: 60%;
  display: block;
  margin: 2em auto;
  border: none;
  padding: 1.5em 0;
  border-radius: 0.5em;
  background-color: #ffc116;
  font-weight: 600;
  box-shadow: rgba(149, 157, 165, 0.719) 0px 8px 24px;
  color: white;
  font-size: 18px;
  cursor: pointer; }
  .gebruikers-toevoegen button:hover {
    border: none;
    width: 70%;
    padding: 1.75em 0;
    transition: 0.5s; }

/* Vacatures toevoegen */
.vacatures-toevoegen {
  overflow: auto; }

input {
  padding: 0.5em; }

.vacatures-toevoegen {
  margin-top: 6em;
  padding: 0 1.5em;
  padding-bottom: 6em; }
  .vacatures-toevoegen label {
    display: inline-block;
    padding: 1.5em 0 0.25em 0;
    font-size: 14px; }
  .vacatures-toevoegen fieldset {
    margin-top: 1.5em;
    padding-bottom: 1.5em;
    border: 1.5px solid #0075FF; }
    .vacatures-toevoegen fieldset span {
      margin: 0 0.5em;
      font-size: 12px;
      font-style: italic; }

/* .het-bedrijf > label {
    padding: 0.5em 0;
  } */
.het-bedrijf > div {
  margin-right: 1em; }
  .het-bedrijf > div input {
    width: 100%; }

.het-bedrijf section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }
  .het-bedrijf section div:nth-child(odd) {
    width: 70%; }
    .het-bedrijf section div:nth-child(odd) input {
      width: 100%; }
  .het-bedrijf section div:nth-child(even) {
    width: 20%;
    margin-right: 1em; }
    .het-bedrijf section div:nth-child(even) input {
      width: 100%; }

.vacature-omschrijving textarea {
  width: 99%;
  resize: none;
  font-family: AppFont; }

.vacature-omschrijving label {
  display: block; }

.vacature > div input {
  width: 100%; }

.vacature div:first-of-type {
  padding-right: 1em; }

.vacature-details {
  display: flex;
  justify-content: space-between; }
  .vacature-details div:not(:last-child) {
    padding-right: 2em; }

.vraag-flexbox {
  display: flex;
  justify-content: space-between; }
  .vraag-flexbox div {
    width: 45%; }

/* .vraag-flexbox div:nth-child(2){
    margin: 0 1em;
  } */
.aanbod textarea {
  width: 99%;
  resize: none;
  font-family: AppFont; }

.vacatures-toevoegen button {
  width: 60%;
  display: block;
  margin: 2em auto;
  border: none;
  padding: 1.5em 0;
  border-radius: 0.5em;
  background-color: #ffc116;
  font-weight: 600;
  box-shadow: rgba(149, 157, 165, 0.719) 0px 8px 24px;
  color: white;
  font-size: 18px;
  cursor: pointer; }
  .vacatures-toevoegen button:hover {
    border: none;
    width: 70%;
    padding: 1.75em 0;
    transition: 0.5s; }

.contactpersoon {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .contactpersoon div {
    width: 45%; }
    .contactpersoon div:last-child {
      width: 100%;
      margin-right: 1.3em; }
      .contactpersoon div:last-child input {
        width: 100%; }

/* Ingevulde gegevens */
.ingevulde-gegevens {
  margin-top: 6em;
  font-size: 16px;
  padding: 0 2em; }
  .ingevulde-gegevens h1 {
    margin-bottom: 0; }
  .ingevulde-gegevens h3 {
    font-size: 14px;
    display: block;
    margin: 0.25em 0; }
  .ingevulde-gegevens p {
    font-size: 14px;
    display: block;
    margin: 0; }

.biografie {
  padding-top: 0;
  margin-top: 0; }

::placeholder {
  font-style: italic;
  color: rgba(199, 190, 190, 0.664); }

.ingevulde-gegevens a {
  width: 60%;
  padding: 1.25em;
  background-color: #ffc116;
  color: white;
  border: none;
  font-size: 15px;
  font-family: AppFont;
  font-weight: 600;
  cursor: pointer;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 0.5em;
  transition: 0.5s;
  margin: 2.25em auto;
  display: block;
  text-align: center;
  text-decoration: none;
  margin-bottom: 10em; }
  .ingevulde-gegevens a:hover {
    padding: 1.5em;
    width: 70%; }

.geen-resultaten {
  text-align: center;
  margin: 5em auto; }
  .geen-resultaten h4 {
    display: block; }
  .geen-resultaten img {
    height: 20em; }

.vier04 {
  background-color: #0075FF;
  color: white;
  font-size: 20px; }
  .vier04 .geen-resultaten {
    margin-top: 7.5em; }
    .vier04 .geen-resultaten a {
      width: 60%;
      display: block;
      margin: 3em auto;
      border: none;
      padding: 1.5em 0;
      border-radius: 0.5em;
      background-color: #ffc116;
      font-weight: 600;
      box-shadow: rgba(149, 157, 165, 0.719) 0px 8px 24px;
      color: white;
      font-size: 18px;
      cursor: pointer;
      text-decoration: none; }
      .vier04 .geen-resultaten a:hover {
        border: none;
        width: 70%;
        padding: 1.75em 0;
        transition: 0.5s; }
  .vier04 footer {
    display: none; }
