@import "./abstracts/abstracts";
@import "./components/components";
@import "./layouts/layouts";



.jobdone {
    float: left;
    color: $tekstkleur;
    font-size: 25px;
    font-weight: $dikgedrukt;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

label {
    display: block;
    padding: 2em 0 0.5em 0;
    font-weight: $dikgedrukt;
}


// Filteroverlay
.filter-overlay {
    max-width: 500px;
    margin: 0 auto;
    background-color: #f0f0f0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    @include translateY100;
    @include transition;
    @include ease-out;

    /* padding: 1em 3em; */
    margin-top: 4em;
    height: 100%;

    h2 {
        text-align: center;
    }

    p {
        padding-bottom: 0.25em;
        padding-top: 0.5em;
    }
}


// Filteroverlay click event
.filterOverlayOpenen .filter-overlay {
    @include translateY0;
    z-index: 10;
}


// Meer informatie overlay
.link {
    position: absolute;
    background-color: $geel;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0 0 0.75em 0.75em;
    text-align: center;
    transition: 1.25s;
    vertical-align: middle;
    height: 7%;
    color: $tekstkleur;

    h4 {
        margin: 0;
        padding: 0;
        padding-top: 0.65em;
    }

    &:hover {
        padding: 0.5em 0;
        background-color: $blauw;
        transition: 1.25s;
        height: 30%;

        // transition: 2s;
        // height: 100%;
        // border-radius: 0.75em;
    }
}


.meer-info {
    display: none;
    transition: 1s;
    padding: 0.5em 2em;

    div {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5em;
    }
}

// .meer-info div:last-child{
//     margin-top: 2em;
//     text-align: start;
// }


.link {
    h5 {
        margin: 0;
        padding: 0;
        font-size: 14px;
        font-weight: 100;
    }

    p {
        font-size: 12px;
        margin: 0;
        margin-top: 0.18em;
        padding: 0;
    }
}

.meer-info div a {
    color: $geel;
    font-size: 12px;
    text-decoration: none;
    margin: 0;
    margin-top: 0.18em;
    padding: 0;
}

.link:hover .meer-info {
    display: block;
}

hr {
    margin-bottom: 1em;
    border: 0.5px solid black;
}


/* Werkzoekende toevoegen */
.werkzoekende-toevoegen {
    overflow: auto;
}

input {
    padding: 0.5em;
}

.gebruikers-toevoegen {
    margin-top: 6em;
    padding: 0 1.5em;
    padding-bottom: 6em;

    label {
        display: inline-block;
        padding: 1.5em 0 0.25em 0;
        font-size: 14px;
    }

    fieldset {
        margin-top: 1.5em;
        padding-bottom: 1.5em;
        border: 1.5px solid $blauw;

        span {
            margin: 0 0.5em;
            font-size: 12px;
            font-style: italic;
        }
    }
}

.naam {
    >label {
        padding: 0.5em 0;
    }

    section {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    
    div:nth-child(1), div:nth-child(2) {
        width: 35%;
    }
    div:nth-child(3){
        width: 10%;
        margin-right: 1em;
    }
    div:nth-child(4){
        width: 43%;
    }
    div:nth-child(5){
        width: 43%;
        margin-right: 1em;
    }
    div:nth-child(6){
        width: 60%;
        margin-right: 1em;
    }
    div:nth-child(7){
        width: 30%;
        margin-right: 1em;
    }
    input {
        width: 100%;
    }
    input[type=file]{
        margin: auto 0;
        padding: 0;
        padding-top: 0.5em;
    }
}}

.biografie {
    textarea {
        width: 99%;
        resize: none;
        font-family: $font;
    }

    label {
        display: block;
    }
}

.school>div {
    input {
        width: 100%;
        margin-bottom: 1em;
    }

    padding-right: 1em;
}

.school-flexbox {
    display: flex;

    div:nth-child(2) {
        margin: 0 1em;
    }
}

.school label {
    padding: 0.5em 0;
}

.opzoek-naar>div {
    padding-right: 1em;

    input {
        width: 100%;
        margin-bottom: 1em;
    }
}

.opzoek-naar-flex {
    display: flex;
    justify-content: space-between;
}

.opzoek-naar label {
    padding: 0.5em 0;
}

.gebruikers-toevoegen button {
    width: 60%;
    display: block;
    margin: 2em auto;
    border: none;
    padding: 1.5em 0;
    border-radius: 0.5em;
    background-color: $geel;
    font-weight: $dikgedrukt;
    box-shadow: rgba(149, 157, 165, 0.719) 0px 8px 24px;
    color: $tekstkleur;
    font-size: 18px;
    cursor: pointer;

    &:hover {
        border: none;
        width: 70%;
        padding: 1.75em 0;
        transition: 0.5s;
    }
}


/* Vacatures toevoegen */
.vacatures-toevoegen {
    overflow: auto;
}

input {
    padding: 0.5em;
}

.vacatures-toevoegen {
    margin-top: 6em;
    padding: 0 1.5em;
    padding-bottom: 6em;

    label {
        display: inline-block;
        padding: 1.5em 0 0.25em 0;
        font-size: 14px;
    }

    fieldset {
        margin-top: 1.5em;
        padding-bottom: 1.5em;
        border: 1.5px solid $blauw;

        span {
            margin: 0 0.5em;
            font-size: 12px;
            font-style: italic;
        }
    }
}

/* .het-bedrijf > label {
    padding: 0.5em 0;
  } */

.het-bedrijf {
    >div {
        margin-right: 1em;

        input {
            width: 100%;
        }
    }

    section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        div {
            &:nth-child(odd) {
                width: 70%;

                input {
                    width: 100%;
                }
            }

            &:nth-child(even) {
                width: 20%;
                margin-right: 1em;

                input {
                    width: 100%;
                }
            }
        }
    }
}

.vacature-omschrijving {
    textarea {
        width: 99%;
        resize: none;
        font-family: $font;
    }

    label {
        display: block;
    }
}

.vacature {
    >div input {
        width: 100%;
    }

    div:first-of-type {
        padding-right: 1em;
    }
}

.vacature-details {
    display: flex;
    justify-content: space-between;

    div:not(:last-child) {
        padding-right: 2em;
    }
}

.vraag-flexbox {
    display: flex;
    justify-content: space-between;

    div {
        width: 45%;
    }
}

/* .vraag-flexbox div:nth-child(2){
    margin: 0 1em;
  } */

.aanbod textarea {
    width: 99%;
    resize: none;
    font-family: $font;
}

.vacatures-toevoegen button {
    width: 60%;
    display: block;
    margin: 2em auto;
    border: none;
    padding: 1.5em 0;
    border-radius: 0.5em;
    background-color: $geel;
    font-weight: $dikgedrukt;
    box-shadow: rgba(149, 157, 165, 0.719) 0px 8px 24px;
    color: $tekstkleur;
    font-size: 18px;
    cursor: pointer;

    &:hover {
        border: none;
        width: 70%;
        padding: 1.75em 0;
        transition: 0.5s;
    }
}

.contactpersoon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    div {
        width: 45%;

        &:last-child {
            width: 100%;
            margin-right: 1.3em;

            input {
                width: 100%;
            }
        }
    }
}

/* Ingevulde gegevens */

.ingevulde-gegevens {
    margin-top: 6em;
    font-size: 16px;
    padding: 0 2em;

    h1 {
        margin-bottom: 0;
    }

    h3 {
        font-size: 14px;
        display: block;
        margin: 0.25em 0;
    }

    p {
        font-size: 14px;
        display: block;
        margin: 0;
    }
}

.biografie {
    padding-top: 0;
    margin-top: 0;
}

::placeholder {
    font-style: italic;
    color: rgba(199, 190, 190, 0.664);
}

.ingevulde-gegevens a {
    width: 60%;
    padding: 1.25em;
    background-color: $geel;
    color: $tekstkleur;
    border: none;
    font-size: 15px;
    font-family: $font;
    font-weight: $dikgedrukt;
    cursor: pointer;
    -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 0.5em;
    transition: 0.5s;
    margin: 2.25em auto;
    display: block;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10em;

    &:hover {
        padding: 1.5em;
        width: 70%;
    }
}

.geen-resultaten {
    text-align: center;
    margin: 5em auto;

    h4 {
        display: block;
    }

    img {
        height: 20em;
    }
}