@font-face {
  font-family: AppFont;
  src: url('../fonts/sf-pro-text_regular.woff');
}

body {
  font-family: AppFont;
  padding: 0;
  margin: 0;
}

.bekijk-op-mobiel {
  display: none;
  font-size: 25px;
  text-align: center;
}

.filter-balk {
  background-color: #0075FF;
  padding: 1em 2em;
  text-align: right;
  z-index: 1;

  svg {
    width: 2em;
    height: 2em;
    fill: white;
  }
}

.filter-overlay {
  background-color: #f0f0f0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  transform: translateY(100%);
  animation-name: filter-overlay-openen;
  transition: 1s;
  transition-timing-function: ease-out;

  padding: 1em 3em;
  margin-top: 4em;
  height: 100%;

  h2 {
    text-align: center;
  }

  p {
    padding-bottom: 0.25em;
    padding-top: 0.5em;
  }
}

body.filterOverlayOpenen .filter-overlay {
  transform: translateY(0%);
}

/* SLIDER */

label {
  display: block;
  padding: 2em 0 0.5em 0;
  font-weight: 600;
}

.slider {
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2em;
    height: 2em;
    border-radius: 50px;
    background: #0075FF;
    cursor: pointer;
  }

  -webkit-appearance: none;
  width: 100%;
  height: 1em;
  background: lightgray;
  outline: none;
  border-radius: 1em;
}

.zoeken {
  width: 100%;
  height: 2.25em;
  font-family: AppFont;
}

input[type=submit] {
  margin-top: 2em;
  width: 100%;
  padding: 1em;
  background-color: #0075FF;
  color: white;
  border: none;
  font-size: 15px;
  font-family: AppFont;
}

select {
  padding: 0.5em;
  font-family: AppFont;
  width: 100%;

  option {
    padding: 0.5em;
  }
}

.radio-buttons {
  border: none;
  padding: 0;
  margin: 0;

  legend {
    padding: 2em 0 1em 0;
    font-weight: 600;
  }

  label {
    display: inline-block;
    padding: 0;
    font-weight: normal;
  }
}

/* PROFIELEN */

.profielen {
  height: 700px;
  display: flex;
  margin-bottom: 20em;
  overflow-x: scroll;
  -ms-overflow-style: none;

  /* IE and Edge */
  scrollbar-width: none;

  /* Firefox */
  padding: 1em;
}

::-webkit-scrollbar {
  display: none;
}

.profiel {
  background-color: lightgrey;
  margin: auto;
  margin: 1em;
  padding: 0 2em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 0.5em;
  min-width: 75%;
  z-index: -2;

  header {
    margin-top: 1em;

    h1 {
      text-align: center;
      font-size: 24px;
      padding: 0;
      margin: 0;
    }
  }

  p {
    font-size: 16px;
    margin: 0;
  }

  header p {
    text-align: center;
    margin: 0.5em 0 1.5em 0;
  }

  h2 {
    font-size: 18px;
    margin: 0;
    margin: 1.25em 0 0.5em 0;
  }

  span {
    font-weight: 600;
  }
}

/* MEDIA QUERY */

@media (min-width: 735px) {
  header, .profielen {
    display: none;
  }

  .bekijk-op-mobiel {
    display: block;
  }
}