@font-face {
  font-family: AppFont;
  src: url('../fonts/sf-pro-text_regular.woff');
}

body {
  font-family: AppFont;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.bekijk-op-mobiel {
  display: none;
  font-size: 25px;
  text-align: center;
}

.filter-balk {
  background-color: lightgray;
  padding: 1em 2em;
  text-align: right;
}

.filter-balk svg {
  width: 2em;
  height: 2em;
  fill: gray;
}

.filter-overlay {
  background-color: #f0f0f0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  transform: translateY(-100%);
  animation-name: filter-overlay-openen;
  transition: 1s;
  transition-timing-function: ease-out;
  z-index: -1;
  padding: 1em 3em;
  padding-top: 5em;
  height: 100%;
}

.filter-overlay h2 {
  text-align: center;
}

.filter-overlay p {
  padding-bottom: 0.25em;
  padding-top: 0.5em;
}

body.filterOverlayOpenen .filter-overlay {
  transform: translateY(0%);
}


/* SLIDER */

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2em;
  height: 2em;
  border-radius: 50px;
  background: #0075FF;
  cursor: pointer;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 1em;
  background: lightgray;
  outline: none;
  border-radius: 1em;
}

input {
  height: 1.5em;
  width: 1.5em;
  vertical-align: middle;
}

.zoeken {
  width: 100%;
  height: 2.25em;
}

button {
  margin-top: 2em;
  width: 100%;
  padding: 1em;
  background-color: #0075FF;
  color: white;
  border: none;
  font-size: 15px;
  font-family: AppFont;
}

.content-voorkant {
  background-color: bisque;
  width: 70%;
  margin: auto;
  margin-top: 5em;
  height: 40em;
  text-align: center;
  padding: 2em 0;
  border-radius: 0.5em;
}


/* MEDIA QUERY */

@media (min-width: 735px) {

  header,
  section {
    display: none;
  }

  .bekijk-op-mobiel {
    display: block;
  }
}
